body{
    background-color: rgb(255, 239, 218);
    color: rgb(139, 96, 82);
    text-align: center;
    font-size: large;
}

h1{
    width: 60%;
    height: 50;
    background-color: floralwhite;
}

h1 button{
    height: 47;
}

#score{
    float:left;
}

#time{
    float:right;
}
span{
    margin:25px;
    font-size: 30px;
}

#clear{
    margin-top: 100px;
}
#show_sketch{
    float: right;
}